/*****************
      VARS
*****************/
// import our google font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

// Color Scheme

$primary-black: rgba(40,40,50,1);

$primary-brand: #006FFF;
$secondary-brand: #05C1B3;
$call-to-action: #FFD252;

$dark-bg: #444;
$med-bg: #777;
$light-bg: #EEE;

// Typography
$sans: 'Open Sans', sans-serif;

$font-weight-thin: 300;
$font-weight-reg: 400;
$font-weight-med: 600;
$font-weight-bold: 700;

// base font size
$basesize: 16px;
// baseline
$baseline: 24px;















